<?xml version="1.0"?>
<SettingsRepo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<MajorVersion>1</MajorVersion>
	<MinorVersion>0</MinorVersion>
	<Packages>
		<Package>
			<Order>1</Order>
			<Name>Mathematics.Arithmetic</Name>
			<Filename>Mathematics.Arithmetic.xml</Filename>
		</Package>
		<Package>
			<Order>2</Order>
			<Name>Mathematics.Algebra</Name>
			<Filename>Mathematics.Algebra.xml</Filename>
			<HideInProduction>false</HideInProduction>
			<Prices>
				<Price>
					<Culture>hu-HU</Culture>
					<Amount>1900</Amount>
					<Currency>HUF</Currency>
				</Price>			
			</Prices>
		</Package>
		<Package>
			<Order>3</Order>
			<Name>Mathematics.Combinatorics</Name>
			<Filename>Mathematics.Combinatorics.xml</Filename>
			<HideInProduction>false</HideInProduction>
		</Package>
		<Package>
			<Order>4</Order>
			<Name>Mathematics.Matriculation</Name>
			<Filename>Mathematics.Matriculation.xml</Filename>
			<HideInProduction>false</HideInProduction>
		</Package>
		<Package>
			<Order>5</Order>
			<Name>Mathematics.ZseniLeszek</Name>
			<Filename>Mathematics.ZseniLeszek.xml</Filename>
			<HideInProduction>false</HideInProduction>
		</Package>
	</Packages>
</SettingsRepo>